div {
        transform: rotate(-20deg);
    }

    div {
        
        transform-origin: left;
    }

    div {
        transform: rotate(20deg) rotateZ(90deg);
    }
    div {
        transform: rotate(20deg) translate(200px,100px);
    }
   
 